# /etc/
etc/usr/
etc/passwd
etc/sudoers
etc/hostname
etc/dump/*

# uncategorized
tmp/*
test.lua
home/*
var/
.vscode/

# /bin/
bin/ink.lua
bin/ldisk.lua
bin/fetch.lua
bin/edit.lua
bin/ofs.lua

# .settings
.settings

# /sys/
sys/bfs
sys/reg/
sys/cfg/
